* {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#content-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
}

#content-wrap #user-section {
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 100%;
    overflow: hidden;
    padding-bottom: 50px;
}

#content-wrap #user-section .user {
    border-bottom: 1px solid #ccc;
    padding: 5px 5px 5px 5px;
    margin: 0px -15px 0px -15px;
}

#content-wrap #user-section .user:hover {
    background: #f8f9fa !important;
}

#content-wrap #chatbox-section {
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 100%;
}

#content-wrap #chatbox-section #chat-section {
    height: 100%;
    width: 100%;
    position: absolute;
}

#message-box {
    overflow: hidden !important;
    min-height: 70%;
    max-height: 70%;
    height: 70%;
    width: 100%;
    top: 88px;
    left: 0px;
    position: absolute;
    padding: 10px 10px 20px 10px;
}

#content-wrap #chatbox-section #messages-section div {
    clear: both;
    background: #f8f9fa;
    float: left;
    max-width: 80%;
    min-width: 20%;
    text-align: left;
    word-wrap: break-word;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
}

#content-wrap #chatbox-section #messages-section div.me {
    background: #17a2b8;
    float: right;
    text-align: right;
    color: white;
    border: 1px solid #17a2b8 !important;
}

#content-wrap #chatbox-section #textarea-section {
    min-height: 10%;
    max-height: 10%;
    height: 10%;
    width: 100%;
    bottom: 45px;
    left: 0px;
    position: absolute;
    border-top: 1px solid #ccc;
}

#content-wrap #chatbox-section #textarea-section textarea {
    outline: none !important;
    box-shadow: none;
    border: none;
    resize: none;
    overflow: hidden !important;
}

#content-wrap #camera-section {
    border-top: 1px solid #ccc;
    height: 100%;
}

.active {
    background: #f8f9fa !important;
}

.aquamarine {
    background: #17a2b8 !important;
    color: white !important;
}

.aquamarine a,
.aquamarine div a {
    color: white !important;
}

.aquamarine .dropdown-item {
    color: black !important;
}